.navbar {
    height: 4rem;
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top:0;
    z-index: 3;
}

.logo {
    object-fit: cover;
    height: 3rem;
    width: 4rem;
}

.desktopMenuListItem {
   margin: 1rem; 
   cursor: pointer;  
}

.desktopMenuListItem:hover {
    transition: 0.2s ease-in;
    color: rgb(230, 246, 126);
    padding-bottom: 0.5rem;
    border-bottom: 3px solid yellow;
}

.desktopMenuBtn {
    background: white;
    color: black;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    border-radius: 2rem;

}

.desktopMenuImg {
    object-fit: contain;
    height: 2rem;
    width: 1rem;
    /* margin: 1rem; */
    margin-right: 0.5rem;
}

.active{
    color: yellow;
    border-bottom: 3px solid yellow;
    padding-bottom: 0.5rem;
}

.mobMenu{
    /* display: none; */
    object-fit: cover;
    height: 1.8rem;
}

.navMenu{
    position: absolute;
    top: 4rem;
    right: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0.5rem;
    height: fit-content;
    min-width: 15rem;
    background: #404040;
    border-radius: 1rem;
}

.listItem{
    color: white;
    padding: 0.5rem 3rem;
    margin: 0.25rem;
    background: #303030;
}